
<div class="row">
	<div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
		<form id="form" class="panel panel-info" action="#">
			<div class="panel-heading">Informações da Consultoria</div>
			<div class="panel-body no-bottom">
                <input type="hidden" id="id" name="id" value="<%=(item ? item.id : 0) %>" />

                <div class="form-group">
					<label for="idorganizacao">Organização</label>
					<select id="idorganizacao" name="idorganizacao" class="form-control" size="1">
						<option value="">Selecione...</option>
						<% for (let i = 0; i < organizacoes.length; i++) { %>
						<option value="<%= organizacoes[i].id %>" <%-((item && item.idorganizacao === organizacoes[i].id) ? 'selected="selected"' : '') %>><%= organizacoes[i].nome %></option>
						<% } %>
					</select>
                </div>

				<hr style="margin: 45px 0;" />

				<h2 class="text-center" style="margin: 45px 0;">Causas</h2>

				<% for (let i = 0; i < causas.length; i++) { %>
					<div class="checkbox">
						<label><input type="checkbox" name="causas" value="<%=causas[i].id %>" <%=((item && item.causas && item.causas.indexOf(causas[i].id) >= 0) ? 'checked="checked"' : '') %> /> <%=causas[i].nome %></label>
					</div>
				<% } %>

				<hr style="margin: 45px 0;" />

				<h2 class="text-center" style="margin: 45px 0;">Membros</h2>

				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="idorientador">Orientador</label>
							<select id="idorientador" name="idorientador" class="form-control" size="1">
								<option value="">Selecione...</option>
								<% for (let i = 0; i < orientadores.length; i++) { %>
								<option value="<%= orientadores[i].id %>" <%-((item && item.idorientador === orientadores[i].id) ? 'selected="selected"' : '') %>><%= orientadores[i].nome %></option>
								<% } %>
							</select>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="idgestor">Gestor</label>
							<select id="idgestor" name="idgestor" class="form-control" size="1">
								<option value="">Selecione...</option>
								<% for (let i = 0; i < usuarios.length; i++) { %>
								<option value="<%= usuarios[i].id %>" <%-((item && item.idgestor === usuarios[i].id) ? 'selected="selected"' : '') %>><%= usuarios[i].nome %></option>
								<% } %>
							</select>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="idconsultor">Consultor 1</label>
							<select id="idconsultor" name="idconsultor" class="form-control" size="1">
								<option value="">Selecione...</option>
								<% for (let i = 0; i < usuarios.length; i++) { %>
								<option value="<%= usuarios[i].id %>" <%-((item && item.idconsultor === usuarios[i].id) ? 'selected="selected"' : '') %>><%= usuarios[i].nome %></option>
								<% } %>
							</select>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="idconsultor2">Consultor 2</label>
							<select id="idconsultor2" name="idconsultor2" class="form-control" size="1">
								<option value="">Selecione...</option>
								<% for (let i = 0; i < usuarios.length; i++) { %>
								<option value="<%= usuarios[i].id %>" <%-((item && item.idconsultor2 === usuarios[i].id) ? 'selected="selected"' : '') %>><%= usuarios[i].nome %></option>
								<% } %>
							</select>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="idconsultor3">Consultor 3</label>
							<select id="idconsultor3" name="idconsultor3" class="form-control" size="1">
								<option value="">Selecione...</option>
								<% for (let i = 0; i < usuarios.length; i++) { %>
								<option value="<%= usuarios[i].id %>" <%-((item && item.idconsultor3 === usuarios[i].id) ? 'selected="selected"' : '') %>><%= usuarios[i].nome %></option>
								<% } %>
							</select>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="idconsultor4">Consultor 4</label>
							<select id="idconsultor4" name="idconsultor4" class="form-control" size="1">
								<option value="">Selecione...</option>
								<% for (let i = 0; i < usuarios.length; i++) { %>
								<option value="<%= usuarios[i].id %>" <%-((item && item.idconsultor4 === usuarios[i].id) ? 'selected="selected"' : '') %>><%= usuarios[i].nome %></option>
								<% } %>
							</select>
						</div>
					</div>
				</div>
		
				<hr style="margin: 45px 0;" />

				<h2 class="text-center" style="margin: 45px 0;">Informações Adicionais</h2>

				<div class="form-group">
					<label for="categoria">Observações</label>
					<input id="categoria" name="categoria" class="form-control" type="text" maxlength="100" value="<%=(item ? item.categoria : '') %>" />
				</div>

				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label for="ano">Ano</label>
							<input id="ano" name="ano" class="form-control" type="number" min="1" value="<%=(item ? item.ano : '') %>" />
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label for="semestre">Semestre</label>
							<input id="semestre" name="semestre" class="form-control" type="number" min="1" value="<%=(item ? item.semestre : '') %>" />
						</div>
					</div>
				</div>
			</div>
			<div class="panel-footer">
				<input value="<%=(item ? 'Salvar Alterações' : 'Criar Consultoria') %>" class="btn btn-primary btn-outline btn-lg btn-block" type="submit" />
			</div>
		</form>
	</div>
</div>

<%- contentFor("scripts") %>
<script type="text/javascript">
	//<![CDATA[
	"use strict";

	$("#form").validate({
		rules: {
            idorganizacao: {
				required: true
            },
            idorientador: {
				required: true
            }
		},

		submitHandler: function (form) {
			if (JsonWebApi.active)
				return;

			Notification.wait();

			//<% if (item) { %>

			JsonWebApi.postFormData("<%- root %>/api/consultoria/alterar", form, function (response) {
				if (response.success)
					Notification.success("Consultoria alterada com sucesso! " + emoji.happy);
				else
					Notification.error(response.value + " " + emoji.sad, true);
			});

			//<% } else { %>

			JsonWebApi.postFormData("<%- root %>/api/consultoria/criar", form, function (response) {
				if (response.success) {
					resetForm("#form");
					Notification.success("Consultoria criada com sucesso! " + emoji.happy);
				} else {
					Notification.error(response.value + " " + emoji.sad, true);
				}
			});

			//<% } %>
		}
	});
	//]]>
</script>
