
<div class="row">
	<div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
		<form id="form" class="panel panel-info" action="#">
		
				<div class="panel-heading">Informações da ONG</div>
				<div class="panel-body no-bottom">
					<input type="hidden" id="id" name="id" value="<%=(item ? item.id : 0) %>" />
					<div class="form-group">
						<label for="nome">Nome</label>
						<input id="nome" name="nome" maxlength="100" class="form-control" type="text" spellcheck="false" value="<%=(item ? item.nome : '') %>" />
					</div>
					<div class="form-group">
						<label for="telefone">Telefone</label>
						<input id="telefone" name="telefone" maxlength="20" class="form-control" type="text" spellcheck="false" value="<%=(item ? item.telefone : '') %>" />
					</div>
					<div class="form-group">
						<label for="endereco">Endereço</label>
						<input id="endereco" name="endereco" maxlength="100" class="form-control" type="text" spellcheck="false" value="<%=(item ? item.endereco : '') %>" />
					</div>
					<div class="form-group">
						<label for="email">Email</label>
						<input id="email" name="email" maxlength="100" class="form-control" type="text" spellcheck="false" value="<%=(item ? item.email : '') %>" />
					</div>

					<div class="form-group">
						<label for="ativo">Ativa</label>
						<select id="ativo" name="ativo" size="1" class="form-control">
							<option value="">SELECIONE...</option>
							<option value="1" <%=((item && item.ativo) ? 'selected="selected"' : '') %>>Sim</option>
							<option value="0" <%=((item && !item.ativo) ? 'selected="selected"' : '') %>>Não</option>
						</select>
					</div>
				</div>

			
					<div class="panel-heading">Causas</div>
					<div class="panel-body">
						<% for (let i = 0; i < causas.length; i++) { %>
							<div class="checkbox">
								<label><input type="checkbox" name="causas" value="<%=causas[i].id %>" <%=((item && item.causas && item.causas.indexOf(causas[i].id) >= 0) ? 'checked="checked"' : '') %> /> <%=causas[i].nome %></label>
							</div>
						<% } %>
					</div>
				
			
			<div class="panel-footer">
				<input value="<%=(item ? 'Salvar Alterações' : 'Criar ONG') %>" class="btn btn-primary btn-outline btn-lg btn-block" type="submit" />
			</div>	
		</form>
	</div>
</div>

<%- contentFor("scripts") %>
<script type="text/javascript">
	//<![CDATA[
	"use strict";
	
	maskMobilePhone("#telefone");

	$("#form").validate({
		rules: {
			nome: {
				required: true,
				minlength: 3,
				maxlength: 100
			},
			telefone: {
				required: true,
				minlength: 3,
				maxlength: 20
			} ,
			endereco: {
				required: true,
				minlength: 3,
				maxlength: 20
			},
			email: {
				required: true,
				maxlength: 100,
				email: true
			},
			ativo: {
				required: true
			}
		},

		submitHandler: function (form) {
			if (JsonWebApi.active)
				return;

			Notification.wait();

			//<% if (item) { %>

			JsonWebApi.postFormData("<%- root %>/api/ong/alterar", form, function (response) {
				if (response.success)
					Notification.success("ONG alterada com sucesso! " + emoji.happy);
				else
					Notification.error(response.value, true);
			});

			//<% } else { %>

			JsonWebApi.postFormData("<%- root %>/api/ong/criar", form, function (response) {
				if (response.success) {
					resetForm("#form");
					Notification.success("ONG criada com sucesso! " + emoji.happy);
				} else {
					Notification.error(response.value, true);
				}
			});

			//<% } %>
		}
	});
	//]]>
</script>
