
<div class="row">
	<div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
		<form id="form" class="panel panel-info" action="#">
			<div class="panel-heading">Informações do Usuário</div>
			<div class="panel-body no-bottom">
				<input type="hidden" id="id" name="id" value="<%=(item ? item.id : 0) %>" />
				<div class="form-group">
					<label for="login">Login</label>
					<input id="login" name="login" maxlength="100" class="form-control lower" type="text" spellcheck="false" value="<%=(item ? item.login : '') %>" <%=(item ? 'readonly="readonly"' : '') %> />
				</div>
				<div class="form-group">
					<label for="nome">Nome</label>
					<input id="nome" name="nome" maxlength="100" class="form-control" type="text" spellcheck="false" value="<%=(item ? item.nome : '') %>" />
				</div>
				<div class="form-group">
					<label for="idcargo">Cargo</label>
					<select id="idcargo" name="idcargo" class="form-control" size="1">
						<option value="">SELECIONE...</option>
						<% for (let i = 0; i < cargos.length; i++) { %>
						<option value="<%= cargos[i].id %>" <%-((item && item.idcargo === cargos[i].id) ? 'selected="selected"' : '') %>><%= cargos[i].nome %></option>
						<% } %>
					</select>
				</div>

				<div class="form-group">
					<label for="idequipe">Equipe</label>
					<select id="idequipe" name="idequipe" class="form-control" size="1">
						<option value="">SELECIONE...</option>
						<% for (let i = 0; i < equipes.length; i++) { %>
						<option value="<%= equipes[i].id %>" <%-((item && item.idequipe === equipes[i].id) ? 'selected="selected"' : '') %>><%= equipes[i].nome %></option>
						<% } %>
					</select>
				</div>

				
                <div class="form-group">
					<label for="email">Email</label>
					<input id="email" name="email" maxlength="100" class="form-control" type="text" spellcheck="false" value="<%=(item ? item.email : '') %>" />
				</div>
				
				<div class="form-group">
					<label for="telefone">Telefone</label>
					<input id="telefone" name="telefone" maxlength="20" class="form-control" type="text" spellcheck="false" value="<%=(item ? item.telefone : '') %>" />
				</div>
				<div class="form-group">
					<label for="whatsapp">Whatsapp</label>
					<input id="whatsapp" name="whatsapp" maxlength="20" class="form-control" type="text" spellcheck="false" value="<%=(item ? item.whatsapp : '') %>" />
				</div>
				<div class="form-group">
					<label for="curso">Curso</label>
					<input id="curso" name="curso" maxlength="50" class="form-control" type="text" spellcheck="false" value="<%=(item ? item.curso : '') %>" />
				</div>		

				<div class="form-group">
					<label for="periodo_entrada">Período Entrada</label>
					<input id="periodo_entrada" name="periodo_entrada" maxlength="20" class="form-control" type="text" spellcheck="false" value="<%=(item ? item.periodo_entrada : '') %>" />
				</div>
				<div class="form-group">
					<label for="periodo_saida">Período Saída</label>
					<input id="periodo_saida" name="periodo_saida" maxlength="20" class="form-control" type="text" spellcheck="false" value="<%=(item ? item.periodo_saida : '') %>" />
				</div>

				<div class="form-group">
					<label for="semestre_entrada">Semestre Entrada</label>
					<input id="semestre_entrada" name="semestre_entrada" maxlength="20" class="form-control" type="int" spellcheck="false" value="<%=(item ? item.semestre_entrada : '') %>" />
				</div>

				<div class="form-group">
					<label for="semestre_saida">Semestre Saída</label>
					<input id="semestre_saida" name="semestre_saida" maxlength="20" class="form-control" type="int" spellcheck="false" value="<%=(item ? item.semestre_saida : '') %>" />
				</div>

				<div class="form-group">
					<label for="semestre_atual">Semestre Atual</label>
					<input id="semestre_atual" name="semestre_atual" maxlength="20" class="form-control" type="int" spellcheck="false" value="<%=(item ? item.semestre_atual : '') %>" />
				</div>

				<div class="form-group">
					<label for="ativo">Ativo</label>
					<select id="ativo" name="ativo" size="1" class="form-control">
						<option value="">SELECIONE...</option>
						<option value="1" <%=((item && item.ativo) ? 'selected="selected"' : '') %>>Sim</option>
						<option value="0" <%=((item && !item.ativo) ? 'selected="selected"' : '') %>>Não</option>
					</select>
				</div>
				
			</div>
			<div class="panel-footer">
				<input value="<%=(item ? 'Salvar Alterações' : 'Criar Usuário') %>" class="btn btn-default btn-outline btn-lg btn-block" type="submit" />
			</div>
		</form>
	</div>
</div>

<%- contentFor("scripts") %>
<script type="text/javascript">
	//<![CDATA[
	"use strict";

	$("#form").validate({
		rules: {
			login: {
				required: true,
				minlength: 3,
				maxlength: 100
			},
			nome: {
				required: true,
				minlength: 3,
				maxlength: 100
			},
			idcargo: {
				required: true
			},
			idequipe: {
				required: true
			},
			email: {
				required: true,
				minlength: 3,
				maxlength: 100
            } ,

			telefone: {
				required: true,
				minlength: 3,
				maxlength: 20
			} ,
			whatsapp: {
				required: true,
				minlength: 3,
				maxlength: 20
			} ,
			curso: {
				required: true,
				minlength: 3,
				maxlength: 50
			} ,
			periodo_entrada: {
				required: true,
				minlength: 3,
				maxlength: 20
			} ,
			periodo_saida: {
				required: true,
				minlength: 3,
				maxlength: 20
			} ,
			semestre_entrada: {
				required: true
			},
			semestre_saida: {
				required: true
			},
			semestre_atual: {
				required: true
			},
			ativo:{
				required: true
			}
		},

		submitHandler: function (form) {
			if (JsonWebApi.active)
				return;

			Notification.wait();

			//<% if (item) { %>

			JsonWebApi.postFormData("<%- root %>/api/usuario/alterar", form, function (response) {
				if (response.success)
					Notification.success("Usuário alterado com sucesso! " + emoji.happy);
				else
					Notification.error(response.value, true);
			});

			//<% } else { %>

			JsonWebApi.postFormData("<%- root %>/api/usuario/criar", form, function (response) {
				if (response.success) {
					resetForm("#form");
					Notification.success("Usuário criado com sucesso (senha padrão: 1234)! " + emoji.happy);
				} else {
					Notification.error(response.value, true);
				}
			});

			//<% } %>
		}
	});
	//]]>
</script>
