
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-body dataTable_wrapper">
				<table class="table table-striped table-hover" id="tabela"></table>
			</div>
		</div>
	</div>
</div>

<%- contentFor("scripts") %>
<script type="text/javascript">
	//<![CDATA[
	"use strict";

	var tabela = prepareDataTable("tabela", {
		order: [[2, "asc"]],
		deferRender: true,
		columns: [
			{ title: "", "class": "col-min", searchable: false, orderable: false, data: "id", render: function (v, type, row) { return "<a target=\"_blank\" title=\"Editar\" href=\"<%- root %>/usuario/alterar?id=" + row.id + "\" class=\"btn btn-outline btn-primary\"><i class=\"fa fa-nomargin fa-edit\"></i></a> <button title=\"Redefinir Senha\" type=\"button\" class=\"btn btn-outline btn-primary\"><i class=\"fa fa-nomargin fa-lock\"></i></button> <button title=\"Excluir\" type=\"button\" data-excluir=\"1\" class=\"btn btn-outline btn-danger\"><i class=\"fa fa-nomargin fa-times\"></i></button>"; } },
			{ title: " ", "class": "col-min", render: function (v, type, row) { return (v ? ('<img class="profile-img" style="margin: 0;" width="40" height="40" src="<%- root %>/imagens/perfil/' + row.id + '.jpg?' + v + '" alt="Imagem de perfil" />') : '<img class="profile-img" style="margin: 0;" width="40" height="40" src="<%- root %>/imagens/user.png" alt="Imagem de perfil" />'); }, searchable: false, orderable: false, data: "versao" },
			
			{ title: "Login", "class": "col-min", render: encode, data: "login" },
			{ title: "Ativo", "class": "col-min", data: function (row, type, set, meta) { return (row.ativo ? "Sim" : "Não"); } },
			{ title: "Nome", "class": "col-min", render: encode, data: "nome" },
			{ title: "Cargo Vigente", "class": "col-min", render: encode, data: "cargovigente" },
			{ title: "Equipe Vigente", "class": "col-min", render: encode, data: "equipevigente" },
			{ title: "Curso", "class": "col-min", render: encode, data: "curso" },
			{ title: "Gênero", "class": "col-min", render: encode, data: "genero" },

			// Contato

			{ title: "E-mail", "class": "col-min", render: encode, data: "email" },
			{ title: "Telefone", "class": "col-min", render: encode, data: "telefone" },
			{ title: "Whatsapp", "class": "col-min", render: encode, data: "whatsapp" },
			{ title: "Instagram", "class": "col-min", render: encode, data: "instagram" },
			{ title: "Facebook", "class": "col-min", render: encode, data: "facebook" },
			{ title: "LinkedIn", "class": "col-min", render: encode, data: "linkedin" },
			{ title: "Observações", "class": "col-min", render: encode, data: "observacoes" },

			// Permanência

			{ title: "Período de Entrada", "class": "col-min", render: encode, data: "periodo_entrada" },
			{ title: "Período de Saída", "class": "col-min", render: encode, data: "periodo_saida" },
			{ title: "Data de Entrada", "class": "col-min", "type": "customdateint", data: "data_entrada" },
			{ title: "Data de Saída", "class": "col-min", "type": "customdateint", data: "data_saida" },
			{ title: "Semestre de Entrada", "class": "col-min", "type": "number", data: "semestre_entrada" },
			{ title: "Semestre de Saída", "class": "col-min", "type": "number", data: "semestre_saida" },
			{ title: "Semestre Vigente", "class": "col-min", "type": "number", data: "semestre_atual" },
			{ title: "Permanência", "class": "col-min", "type": "number", data: "semestre_permanencia" },

			// Histórico

			{ title: "Data do Cargo 1", "class": "col-min", "type": "customdateint", data: "cargodata1" },
			{ title: "Cargo 1", "class": "col-min", render: encode, data: "cargo1" },
			{ title: "Equipe 1", "class": "col-min", render: encode, data: "equipe1" },
			{ title: "Data do Cargo 2", "class": "col-min", "type": "customdateint", data: "cargodata2" },
			{ title: "Cargo 2", "class": "col-min", render: encode, data: "cargo2" },
			{ title: "Equipe 2", "class": "col-min", render: encode, data: "equipe2" },
			{ title: "Data do Cargo 3", "class": "col-min", "type": "customdateint", data: "cargodata3" },
			{ title: "Cargo 3", "class": "col-min", render: encode, data: "cargo3" },
			{ title: "Equipe 3", "class": "col-min", render: encode, data: "equipe3" },
			{ title: "Data do Cargo 4", "class": "col-min", "type": "customdateint", data: "cargodata4" },
			{ title: "Cargo 4", "class": "col-min", render: encode, data: "cargo4" },
			{ title: "Equipe 4", "class": "col-min", render: encode, data: "equipe4" },
			{ title: "Data do Cargo 5", "class": "col-min", "type": "customdateint", data: "cargodata5" },
			{ title: "Cargo 5", "class": "col-min", render: encode, data: "cargo5" },
			{ title: "Equipe 5", "class": "col-min", render: encode, data: "equipe5" },

			{ title: "Criação", "class": "col-min", "type": "customdateint", data: "criacao" }
		],
		data: <%- lista %>,
		export: { title: "<%- (colegiado ? 'Colegiado' : 'Usuários') %>" }
	});

	var trClicada;

	$("#tabela").on("click", "tbody button", function () {
		if (JsonWebApi.active)
			return;

		var trClicada = this.parentNode.parentNode,
			usuario = tabela.row(trClicada).data();

		if (this.getAttribute("data-excluir")) {
			Notification.okcancel("Tem certeza que deseja excluir o usuário " + usuario.nome + "? Esta operação NÃO pode ser desfeita!", null, true, "Excluir").then(function (result) {
				if (JsonWebApi.active || !trClicada)
					return;

				if (result.value) {
					Notification.wait();

					JsonWebApi.get("<%- root %>/api/usuario/excluir", function (response) {
						if (response.success) {
							Notification.success("Usuário excluído com sucesso! " + emoji.happy);
							tabela.row(trClicada).remove().draw();
						} else {
							Notification.error(response.value + " " + emoji.sad, true);
						}
						trClicada = null;
					}, "id", usuario.id);
				}
			});
		} else {
			Notification.okcancel("Tem certeza que deseja redefinir a senha do usuário " + usuario.nome + " para \"1234\"? Esta operação NÃO pode ser desfeita!", null, true, "Excluir").then(function (result) {
				if (JsonWebApi.active || !trClicada)
					return;

				if (result.value) {
					Notification.wait();

					JsonWebApi.get("<%- root %>/api/usuario/redefinirSenha", function (response) {
						if (response.success)
							Notification.success("Senha redefinida com sucesso! " + emoji.happy);
						else
							Notification.error(response.value + " " + emoji.sad, true);
						trClicada = null;
					}, "id", usuario.id);
				}
			});
		}
	});

	//]]>
</script>
